{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <title>채팅 창</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta http-equiv="refresh" content="10">
  
    <!-- Favicons -->
    <link href='{% static "images/loading.gif" %}' rel="icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
      rel="stylesheet">
  
    <!-- Bootstrap CSS File -->
    <link href='{% static "lib/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href='{% static "lib/nivo-slider/css/nivo-slider.css" %}' rel="stylesheet">
    <link href='{% static "lib/owlcarousel/owl.carousel.css" %}' rel="stylesheet">
    <link href='{% static "lib/owlcarousel/owl.transitions.css" %}' rel="stylesheet">
    <link href='{% static "lib/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
    <link href='{% static "lib/animate/animate.min.css" %}' rel="stylesheet">
    <link href='{% static "lib/venobox/venobox.css" %}' rel="stylesheet">
  
    <!-- Nivo Slider Theme -->
    <link href='{% static "css/nivo-slider-theme.css" %}' rel="stylesheet">
  
    <!-- Main Stylesheet File -->
    <link href='{% static "css/style.css" %}' rel="stylesheet">
  
    <!-- Responsive Stylesheet File -->
    <link href='{% static "css/responsive.css" %}' rel="stylesheet">
  
    <!-- ColorTab -->
    <meta name="theme-color" content="#FF9E1B">

    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
  </head>
  <body data-spy="scroll" data-target="#navbar-example" style="background-color: rgb(241, 241, 241);" >

    <!-- <div id="preloader"></div> -->
    
    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area" style="height: 65px">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <!-- Navigation -->
                <nav class="navbar navbar-default">
                  
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">

                    <!-- Brand -->
                    <a class="navbar-brand page-scroll sticky-logo" href="">
                      <h1 style="font-size: 30px !important;">채팅 하기</h1>
                      <!-- Uncomment below if you prefer to use an image logo -->
                      <!--<img src='{% static "img/mark.jpg" %}' alt="" title="" style="width: 30px; height: 30px;">-->
                    </a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  
                  <!-- navbar-collapse -->
                </nav>
                <!-- END: Navigation -->
              </div>
            </div>
          </div>
        </div>
        <!-- header-area end -->
      </header>
      <br><br><br>
      <!-- header end -->
      <div style="padding: 5px;">
      <div style="border: solid 2px black; background-color: ghostwhite; height: 230px;">
        {% for text,writer,date in chat  %}
        {{writer}}&nbsp;&nbsp;:&nbsp;&nbsp;<span style="display: inline-block;width: 450px;">{{text}}</span>{{date}}<br>
        {% endfor %}
        </div>
        <br>
        {% if student_id %}
        <form action="{% url 'chatting:chat' 1 student_id %}" method="POST">
            {% csrf_token %}
            {% for form in form %}
            {{form}}<div class="alignright">
                    <div style="width: 80px;">
                              <button class="btn btn-warning btn-block">
                                 <b>전송</b></button>
                    </div>               
                </div>
            {% endfor %}
        </form>
        {% endif %}
        </div>
        <br>
        {% if professor_id %}
        <form action="{% url 'chatting:chat' 2 professor_id %}" method="POST">
            {% csrf_token %}
            {% for form in form %}
            {{form}}<input type="submit" value="작 성">
            {% endfor %}
        </form>
        {% endif %}

        </div>





<!--===============================================================================================-->
<script src='{% static "vendor/jquery/jquery-3.2.1.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "vendor/animsition/js/animsition.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "vendor/bootstrap/js/popper.js" %}'></script>
<script src='{% static "vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "vendor/select2/select2.min.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "vendor/daterangepicker/moment.min.js" %}'></script>
<script src='{% static "vendor/daterangepicker/daterangepicker.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "vendor/countdowntime/countdowntime.js" %}'></script>
<!--===============================================================================================-->
<script src='{% static "js/main.js" %}'></script>
<script> src='{% static "vendor/bootstrap/js/bootstrap.js" %}'</script>

 <!-- loader -->
    <!-- JavaScript Libraries -->
    <script src='{% static "lib/jquery/jquery.min.js" %}'></script>
    <script src='{% static "lib/bootstrap/js/bootstrap.min.js" %}'></script>
    <script src='{% static "lib/owlcarousel/owl.carousel.min.js" %}'></script>
    <script src='{% static "lib/venobox/venobox.min.js" %}'></script>
    <script src='{% static "lib/knob/jquery.knob.js" %}'></script>
    <script src='{% static "lib/wow/wow.min.js" %}'></script>
    <script src='{% static "lib/parallax/parallax.js" %}'></script>
    <script src='{% static "lib/easing/easing.min.js" %}'></script>
    <script src='{% static "lib/nivo-slider/js/jquery.nivo.slider.js" %}' type="text/javascript"></script>
    <script src='{% static "lib/appear/jquery.appear.js" %}'></script>
    <script src='{% static "lib/isotope/isotope.pkgd.min.js" %}'></script>
    <!-- Contact Form JavaScript File -->
    <script src='{% static "contactform/contactform.js" %}'></script>
    <script src='{% static "js/main.js" %}'></script>
</body>


</html>