{% for text,writer,date in chat  %}
{{text}}&nbsp;&nbsp;&nbsp;&nbsp;{{writer}}&nbsp;&nbsp;{{date}}<br>
{% endfor %}
<br><br>
{% if student_id %}
<form action="{% url 'chatting:chat' 1 student_id %}" method="POST">
    {% csrf_token %}
    {% for form in form %}
    {{form}}<input type="submit" value="작 성">
    {% endfor %}
</form><a href= "{% url 'web:website' %}">돌아가기</a>
{% endif %}
{% if professor_id %}
<form action="{% url 'chatting:chat' 2 professor_id %}" method="POST">
    {% csrf_token %}
    {% for form in form %}
    {{form}}<input type="submit" value="작 성">
    {% endfor %}
</form><a href= "{% url 'web:website' %}">돌아가기</a>
{% endif %}