{% for text,writer,date in chat  %}
{{text}}&nbsp;&nbsp;&nbsp;&nbsp;{{writer}}&nbsp;&nbsp;{{date}}<br>
{% endfor %}
<br><br>
{% if student_id %}
<form action="{% url 'chatting:chat' 1 student_id %}" method="POST">
    {% csrf_token %}
    {% for form in form %}
    {{form}}<input type="submit" value="작 성">
    {% endfor %}
</form><div class="alignleft">
        <div  style="width: 80px;" >
          <button class="btn btn-warning btn-block text-uppercase" onclick="history.back()">
            <b>돌아가기</b></button>
        </div>
      </div>
{% endif %}
{% if professor_id %}
<form action="{% url 'chatting:chat' 2 professor_id %}" method="POST">
    {% csrf_token %}
    {% for form in form %}
    {{form}}<input type="submit" value="작 성">
    {% endfor %}
</form><div class="alignleft">
        <div  style="width: 80px;" >
          <button class="btn btn-warning btn-block text-uppercase" onclick="history.back()">
            <b>돌아가기</b></button>
        </div>
      </div>
{% endif %}