{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>게시판</title>
        <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href= "images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}'>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href='{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href='{% static "fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}'>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href='{% static "vendor/animate/animate.css" %}'>
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href='{% static "vendor/css-hamburgers/hamburgers.min.css" %}'>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href='{% static "vendor/animsition/css/animsition.min.css" %}'>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href='{% static "vendor/select2/select2.min.css" %}'>
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href='{% static "vendor/daterangepicker/daterangepicker.css" %}'>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href='{% static "css/util.css" %}'>
        <link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
    <!--===============================================================================================-->
    
        <link rel="stylesheet" href='{% static "vendor/bootstrap/css/bootstrap.css" %} '> 
    </head>
<body>
    <div class = "container">
       
    <table class ="table table-striped">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
        </thead>
        <tbody>
            {% if Gtable %}
                {% if request.session.logined_student_id  %}            
                    {% if not tutor %}
                        <h1>{{grade}}학년 게시판</h1>
                        {% for g in Gtable %}
                            <tr>
                                <td>{{g.id}}</td>
                                <td><a  href= "/web/board/1/{{grade}}/{{g.id}}/">{{g.title}}</a></td>
                                <td>{{g.writer}}</td>
                                <td>{{g.date}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if  request.session.logined_professor_id %}
                    {% if not name %}
                        <h1>{{grade}}학년 게시판</h1>
                        <a href = "/web/board/1/1/">1학년게시판</a>
                        <a href = "/web/board/1/2/">2학년게시판</a>
                        <a href = "/web/board/1/3/">3학년게시판</a>
                        <a href = "/web/board/1/4/">4학년게시판</a>
                        {% for g in Gtable %}
                            <tr>
                                <td>{{g.id}}</td>
                                <td><a  href= "/web/board/1/{{grade}}/{{g.id}}/">{{g.title}}</a></td>
                                <td>{{g.writer}}</td>
                                <td>{{g.date}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </tbody>
        <!-- 이부분까지는 학년별 게시판의 학생과 교수버전 -->
        <tbody>
            <!-- 이부분부터 학생의 지도 교수 게시판 -->
            {% if Ptable %}
                {% if request.session.logined_student_id %}           
                    <h1>{{tutor}}교수님 게시판</h1>
                    {% for p in Ptable %}
                        <tr>
                            <td>{{p.id}}</td>
                            <td><a  href= "/web/board/2/{{grade}}/{{p.id}}">{{p.title}}</a></td>
                            <td>{{p.writer}}</td>
                            <td>{{p.date}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}         
                    <!-- 이부분까지는 학생의 지도교수 게시판 -->
                    <!-- 이부분부터 교수의 자신 지도교수게시판라인 -->
                {% if request.session.logined_professor_id %}           
                    <h1>{{name}}교수님 게시판</h1>
                    {% for p in Ptable %}
                        <tr>
                            <td>{{p.id}}</td>
                            <td><a  href= "/web/board/2/{{request.session.logined_professor_id}}/{{p.id}}">{{p.title}}</a></td>
                            <td>{{p.writer}}</td>
                            <td>{{p.date}}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </tbody> 
    </table>
    <hr/>
    {% if Gtable %}
    {% if request.session.logined_student_id %}<p><a class ="btn btn-default pull-right" href="/web/board/{{id}}/{{grade}}/create/">글쓰기</a></p>
    <a class ="btn btn-default pull-right" href="/web/board/{{id}}/{{grade}}/require/">게시판생성요청하기</a>{% endif %}
    {% if request.session.logined_professor_id %}<a class ="btn btn-default pull-right" href="/web/board/{{id}}/{{grade}}/create/">글쓰기</a>{% endif %}
    {% endif %}
    {% if Ptable %}
    {% if request.session.logined_student_id %}<a class ="btn btn-default pull-right" href="/web/board/{{id}}/{{grade}}/create/">글쓰기</a>{% endif %}
    {% if request.session.logined_professor_id %}<a class ="btn btn-default pull-right" href="/web/board/{{id}}/{{request.session.logined_professor_id}}/create/">글쓰기</a>{% endif %}
    {% endif %}
    <div class = "text-center" >

        <ul class = "pagination justify-content-center " >

            <li class="page-item "><a class = "page-link " href="#">1</a></li>
            <li class="page-item"><a class = "page-link" href="#">2</a></li>
            <li class="page-item"><a class = "page-link" href="#">3</a></li>
            
            
        </ul>
    </div>

    </div>
</body>
<!-- {% if request.session.logined_special %}
<a href="{% url 'web:website' %}"><input type="button" value="학년별 게시판생성"></a>
<a href="{% url 'web:website' %}"><input type="button" value="지도교수별 게시판생성"></a>
<a href="{% url 'web:website' %}"><input type="button" value="강의별 게시판생성"></a><br>
{% endif %}
{% if request.session.logined %}
<a href="{% url 'web:website' %}"><input type="button" value="학년별 게시판"></a>
<a href="{% url 'web:website' %}"><input type="button" value="지도교수별 게시판"></a>
<a href="{% url 'web:website' %}"><input type="button" value="강의별 게시판"></a><br>
{% endif %} -->

<script> src='{% static "vendor/jquery/jquery-3.2.1.min.js"  %}'</script>
<script> src='{% static "vendor/bootstrap/js/bootstrap.js" %}'</script>
</html>
