<html>
    <head>

    </head>
        <body>
        {% if error %}
            {{error}}
        {% endif %}
        <form action="{% url 'web:assign' %}" method="post">
            {% csrf_token %}
            <h1>학생 선택란</h1>
            {% for student in students %}
                <input type="radio" name="student" id="student{{forloop.counter}}" value="{{student.id}}"/>
                <label for="student{{forloop.counter}}">{{student}}</label><br>
            {% endfor %}
            <h1>교수 선택란</h1>
            {% for professor in professors %}
                <input type="radio" name="professor" id="professor{{forloop.counter}}" value="{{professor.id}}"/>
                <label for="professor{{forloop.counter}}">{{professor}}</label><br>
            {% endfor %}
            <input type="submit" value="선택"><a href="{% url 'web:website' %}"><input type="button" value="취 소"></a>        
        
        	<a style="display:scroll;position:fixed;bottom:10px;right:10px;font-size:40px;color: orange;" 
		href="#"><i class="fas fa-caret-square-up"></i></a>


<!--===============================================================================================-->
	<script src='{% static "vendor/jquery/jquery-3.2.1.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/animsition/js/animsition.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/bootstrap/js/popper.js" %}'></script>
	<script src='{% static "vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/select2/select2.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/daterangepicker/moment.min.js" %}'></script>
	<script src='{% static "vendor/daterangepicker/daterangepicker.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/countdowntime/countdowntime.js" %}'></script>
<!--===============================================================================================-->
    <script src='{% static "js/main.js" %}'></script>
    
    
    </body>
</html>