{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>마이 페이지</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "vendor/animate/animate.css" %}'>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href='{% static "vendor/css-hamburgers/hamburgers.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "vendor/animsition/css/animsition.min.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "vendor/select2/select2.min.css" %}'>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href='{% static "vendor/daterangepicker/daterangepicker.css" %}'>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href='{% static "css/util.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
<!--===============================================================================================-->
<!-- Favicons -->
<link href='{% static "images/loading.gif" %}' rel="icon">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
		integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
		crossorigin="anonymous">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
		  rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href='{% static "lib/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

<!-- Libraries CSS Files -->
<link href='{% static "lib/nivo-slider/css/nivo-slider.css" %}' rel="stylesheet">
<link href='{% static "lib/owlcarousel/owl.carousel.css" %}' rel="stylesheet">
<link href='{% static "lib/owlcarousel/owl.transitions.css" %}' rel="stylesheet">
<link href='{% static "lib/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
<link href='{% static "lib/animate/animate.min.css" %}' rel="stylesheet">
<link href='{% static "lib/venobox/venobox.css" %}' rel="stylesheet">

<!-- Nivo Slider Theme -->
<link href='{% static "css/nivo-slider-theme.css" %}' rel="stylesheet">

<!-- Main Stylesheet File -->
<link href='{% static "css/style.css" %}' rel="stylesheet">

<!-- Responsive Stylesheet File -->
<link href='{% static "css/responsive.css" %}' rel="stylesheet">

<!-- ColorTab -->
<meta name="theme-color" content="#FF9E1B">

<script language="javascript">
	function showPopup() { window.open("{% url 'web:likepost' %}", "a", "width=1000, height=600, left=100, top=50"); }
</script>
<!-- =======================================================
  Theme Name: eBusiness
  Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
======================================================= -->

</head>
<body data-spy="scroll" data-target="#navbar-example" style="background-color: rgb(241, 241, 241);">
	<header>
		<!-- header-area start -->
		<div id="sticker" class="header-area" style="height: 65px">		
			<div class="container">
				<div class="row">

						<!-- Navigation -->
						<nav class="navbar navbar-default">
						  
						  <!-- Brand and toggle get grouped for better mobile display -->
						  <div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1"
							  aria-expanded="false">
							  <span class="sr-only">Toggle navigation</span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							  <span class="icon-bar"></span>
							</button>
							<!-- Brand -->
							<a class="navbar-brand page-scroll sticky-logo" href="../../web">
								<h1 style="font-size: 30px !important;">교통대 <span>X</span> 컴퓨터공학과</h1>
								<!-- Uncomment below if you prefer to use an image logo -->
								<!--<img src='{% static "img/mark.jpg" %}' alt="" title="" style="width: 30px; height: 30px;">-->
							</a>
							
						  </div>
						  <!-- Collect the nav links, forms, and other content for toggling -->
						  <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
							<ul class="nav navbar-nav navbar-right">
							  
							</ul>
						  </div>
						  <!-- navbar-collapse -->
						</nav>
						<!-- END: Navigation -->
					</div>
				</div>
			</div>
		</div>
	<!-- header-area end -->
	</header>
	<br><br><br>
	<!-- header end -->
	<div style="text-align: left;">
			<div class="container">
			  <div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
				  <div class=" services-head">
					  <br><br>
						<div style="font-size: 40px;">
							<b>마이 페이지</b><br><br>
						</div>
					
					<!--<img src='{% static "img/투명원.png" %}'>-->
					<br><br>
				  </div>
				</div>
			  </div>
		  </div>
	</div>
</head>
<body>
	<div class="limiter">
		<div align="center">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
					<span class="login100-form-title p-b-33">
						<div style="color: orange;">
							 <b>내가 추천한 글 목록</b><br>
						</div>
					</span>
					<div style="border: solid 2px gold; padding: 5px; overflow:scroll; overflow-x: hidden;">
						<div align="left">			
                        {% if student %}
                            {% for likepost in student.like_post.all %}	
								<b><span style="font-size: large;">{{likepost}}</span><br></b>
                            {%endfor%}
                        {% endif %}

                        {% if professor %}
                            {% for likepost in professor.like_post.all %}
								<b><span style="font-size: large;">{{likepost}}</span><br></b>
                            {%endfor%}
                        {% endif %}
                        
						</div>
					</div>						
			</div>
		</div>
	</div>
	
    <br>


    
	<!-- Start Footer bottom Area -->
	<footer id="contact">
			<div class="footer-area-bottom">
				<div class="container">
					<div class="row">
						<hr style="height:1px; color:black; background-color:gray;">
							  <div class="col-md-12 col-sm-12 col-xs-12">
								<div class="copyright text-center">
									  <p>
										Copyright &copy; 2019 <strong>컴퓨터공학과 at 박광영/김윤구</strong>, All rights reserved.
									  </p>
								</div>
									<div class="credits">
										<p><span>Email: </span><a href="mailto:example@gmail.com">example@gmail.com</a> /
										<span>Official Website: </span><a href="https://example.net">example.net</a>
										<br>
											Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a></p>
									</div>
							  </div>
					</div>
				</div>
			</div>
		</footer>

	
<!--===============================================================================================-->
	<script src='{% static "vendor/jquery/jquery-3.2.1.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/animsition/js/animsition.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/bootstrap/js/popper.js" %}'></script>
	<script src='{% static "vendor/bootstrap/js/bootstrap.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/select2/select2.min.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/daterangepicker/moment.min.js" %}'></script>
	<script src='{% static "vendor/daterangepicker/daterangepicker.js" %}'></script>
<!--===============================================================================================-->
	<script src='{% static "vendor/countdowntime/countdowntime.js" %}'></script>
<!--===============================================================================================-->
	<script src= '{% static "js/main.js" %}'></script>

</body>
</html>





