{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <title>컴퓨터 공학과 홈페이지 입니다</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
  
    <!-- Favicons -->
    <link href='{% static "images/loading.gif" %}' rel="icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
      rel="stylesheet">
  
    <!-- Bootstrap CSS File -->
    <link href='{% static "lib/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href='{% static "lib/nivo-slider/css/nivo-slider.css" %}' rel="stylesheet">
    <link href='{% static "lib/owlcarousel/owl.carousel.css" %}' rel="stylesheet">
    <link href='{% static "lib/owlcarousel/owl.transitions.css" %}' rel="stylesheet">
    <link href='{% static "lib/font-awesome/css/font-awesome.min.css" %}' rel="stylesheet">
    <link href='{% static "lib/animate/animate.min.css" %}' rel="stylesheet">
    <link href='{% static "lib/venobox/venobox.css" %}' rel="stylesheet">
  
    <!-- Nivo Slider Theme -->
    <link href='{% static "css/nivo-slider-theme.css" %}' rel="stylesheet">
  
    <!-- Main Stylesheet File -->
    <link href='{% static "css/style.css" %}' rel="stylesheet">
  
    <!-- Responsive Stylesheet File -->
    <link href='{% static "css/responsive.css" %}' rel="stylesheet">
  
    <!-- ColorTab -->
    <meta name="theme-color" content="#FF9E1B">

    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
  </head>
  <body data-spy="scroll" data-target="#navbar-example" >
    {% if assign_error %}
    <script>
    alert('지도교수가 현재 배정되어있지않습니다. 학과에 문의해주세요.');
    </script>
    {% endif %}
    <!-- <div id="preloader"></div> -->
    
    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area" style="height: 65px">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <!-- Navigation -->
                <nav class="navbar navbar-default">
                  
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1"
                      aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <!-- Brand -->
                    <a class="navbar-brand page-scroll sticky-logo" href="{% url 'web:website' %}">
                      <h1 style="font-size: 30px !important;">교통대 <span>X</span> 컴퓨터공학과</h1>
                      <!-- Uncomment below if you prefer to use an image logo -->
                      <!--<img src='{% static "img/mark.jpg" %}' alt="" title="" style="width: 30px; height: 30px;">-->
                    </a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.session.logined %}
                        <li>                          
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: rgba(0, 0, 0, 0.349);">
                              {{request.session.logined}}님 환영합니다 ^^<span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'web:mypage' %}">마이 페이지</a></li>
                                <li><a href="">내가 쓴 글</a></li>
                                <li><a href="">내가 추천한 글</a></li>
                              </ul>
                            </li>                          
                        </li>
                        {% if not request.session.logined_special %}
                        <li>                          
                            <a class="page-scroll" href ="{% url 'login:update' %}" > 회원정보 변경</a>                           
                        </li>
                        {% endif %}
                        <li>                          
                            <a class="page-scroll" href ="{% url 'login:logout' %}" > 로그아웃</a>                           
                        </li>
                        {% endif %}
                        {% if not request.session.logined %}
                      <li>
                        <a class="page-scroll" href="{% url 'login:login' %}">로그인</a>
                      </li>
                      <li>
                        <a class="page-scroll" href="{% url 'login:access' %}">회원가입</a>
                      </li>
                      {% endif %}
                      
                      {% if request.session.logined_special %}
                      <li>
                        <a class="page-scroll" href="{% url 'web:Selcreate' %}">게시판 생성</a>
                      </li>
                      
                      <li>
                        <a class="page-scroll" href="{% url 'web:assign' %}">지도교수 배정</a>
                      </li>
                      {% endif %}
                      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: rgba(0, 0, 0, 0.349);">
                        게시판 목록<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% if boardtable %}
                            {% for board  in boardtable %}
                              <li><a href= "{% url 'web:boardaccess' board.id %}">{{board.board_type}}</a></li>
                                {% if sub in board %}
                                  <ul>
                                    <li><a href="{% url 'web:board' sub.id %}">{{sub.board_name}}</a></li>
                                  </ul>
                                {% endif %}
                            {% endfor %}
                          {% endif %}
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <!-- navbar-collapse -->
                </nav>
                <!-- END: Navigation -->
              </div>
            </div>
          </div>
        </div>
        <!-- header-area end -->
      </header>
      <br><br><br>
      <!-- header end -->

      <!-- Start Slider Area -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src='{% static "img/slider/20190629_210212_006.jpg" %}' style="width: 100%;height:30%;">
              <div class="carousel-caption">
                  <h3 style="color: white; font-weight: bold;">슬라이드</h3>
                  <p style="color: white; font-weight: bold;">왜 안되는 걸까?</p>
              </div>
            </div>
        
            <div class="item">
              <img src='{% static "img/slider/slider2.jpg" %}' style="width: 100%; height: 700;">
              <div class="carousel-caption">
                  <h3 style="color: white; font-weight: bold;">나도 할 수 있다!</h3>
                  <p style="color: white; font-weight: bold;">부트스트랩으로 홈페이지 만들기</p>
              </div>
            </div>
        
            <div class="item">
              <img src='{% static "img/slider/image01.png" %}' style="width: 100%; height: 700;">
              <div class="carousel-caption">
                  <h3 style="color: white; font-weight: bold;">교통대 X 컴퓨터공학과</h3>
                  <p style="color: white; font-weight: bold;">컴퓨터공학과 홈페이지에 어서오세요</p>
              </div>
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- End Slider Area -->

      <!-- Start About area -->
      <div id="about" class="area-padding">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                  <h2>한국교통대학교란 어떤 곳인가요?</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- single-well start-->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                  <div class="single-well">
                    <a href="https://www.ut.ac.kr/" target="_blank">
                      <img src='{% static "/images/main2.png" %}' alt="">
                    </a>
                  </div>
                </div>
              </div>
              <!-- single-well end-->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                  <div class="single-well">
                    <p>
                      "<a href="https://www.ut.ac.kr/">한국교통대학교는</a>" 4년제 국립 대학교로, 2012년 국립 충주대학교와<br>국립 한국철도대학이 통합하여 출범하였습니다. 국내 최초의 교통 특성화 국립대학을 표방하고 있습니다.<br>
                    </p>
                    <h2 class="sec-head" style="font-size: 25px;"><b>교육 목표</b></2>
                    <p>
                      <b><h5 style="color: darkred;">"창의(V)·혁신(I)·실천(P)형 인재 육성"</h5></b>
                      
                      우리 대학은 <b>지(知), 정(精), 의(意)</b>를 갖추고 창의융합적 사고를 바탕으로,<br>
                      글로벌 시대의 변화와 혁신을 선도하여 실행실천하는 미래형 인재 육성에 주력하고 있습니다.
                    </p>
                    <ul>
                      <li style="font-size: 20px;">
                        <i class="fa fa-check"></i> <b>V</b> : creati<b>V</b>e <label style="color: olive;">'창의적 인재 육성'</label>
                      </li>
                      <li style="font-size: 20px;">
                          <i class="fa fa-check"></i> <b>I</b> : <b>I</b>nnovation <label style="color: brown;">'혁신형 인재 육성'</label>
                      </li>
                      <li style="font-size: 20px;">
                          <i class="fa fa-check"></i> <b>P</b> : <b>P</b>ractice <label style="color: navy;">'실천형 인재 육성'</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- End col-->
            </div>
          </div>
        </div>
        <!-- End About area -->
        <!-- Start Service area -->
          <div id="services" class="services-area area-padding">
              <div class="container">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline services-head text-center">
                      <h2>컴퓨터공학과에서 배우는 것들</h2>
                    </div>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="services-contents">
                    <!-- Start Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="about-move">
                        <div class="services-details">
                          <div class="single-services">
                            <a class="services-icon">
                              <i class="fas fa-copyright"></i>
                            </a>
                            <h4>C</h4>
                            <p>
                              다른 언어로 해야지 
                            </p>
                          </div>
                        </div>
                        <!-- end about-details -->
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="about-move">
                        <div class="services-details">
                          <div class="single-services">
                            <a class="services-icon">
                              <i class="fab fa-python"></i>
                            </a>
                            <h4>Python</h4>
                            <p>
                              Python은 가장 배우기 쉬운 고급 프로그래밍 <br>언어입니다.<br>동적 타이핑 범용 프로그래밍 언어로, 다양한 플랫폼에서 쓸 수 있고, 라이브러리가 풍부합니다.
                            </p>
                          </div>
                        </div>
                        <!-- end about-details -->
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <!-- end col-md-4 -->
                      <div class=" about-move">
                        <div class="services-details">
                          <div class="single-services">
                            <a class="services-icon">
                              <i class="fab fa-android"></i>
                            </a>
                            <h4>Mobile App 개발</h4>
                            <p>
                              Android 스튜디오는 Android 앱 개발을 위한 공식 통합 개발 환경입니다.<br>Android 앱을 빌드할 때 생산성을 높여줍니다.<br>직접 Android 앱을 개발해 볼 수 있습니다.
                            </p>
                          </div>
                        </div>
                        <!-- end about-details -->
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <!-- end col-md-4 -->
                      <div class=" about-move">
                        <div class="services-details">
                          <div class="single-services">
                            <a class="services-icon">
                              <i class="fa fa-book"></i>
                            </a>
                            <h4>Django</h4>
                            <p>
                              Django는 파이썬으로 작성된 오픈 소스 웹 애플리케이션 프레임워크입니다.<br>웹 개발에서 번거로운 요소들을 새로 개발할 필요 없이 내장된 기능만을 이용해 빠른 개발을 할 수 있습니다.
                            </p>
                          </div>
                        </div>
                        <!-- end about-details -->
                      </div>
                    </div>
                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <!-- end col-md-4 -->
                      <div class=" about-move">
                        <div class="services-details">
                          <div class="single-services">
                            <a class="services-icon">
                              <i class="fab fa-java"></i>
                            </a>
                            <h4>Java</h4>
                            <p>
                              Java는 객체 지향 프로그래밍 언어입니다.<br>C/C++과 비슷한 문법으로 진입 장벽도 낮고,<br>다른 하이 레벨 언어들에 비해 빠른 퍼포먼스를 자랑하여, 굉장히 대중적입니다.
                            </p>
                          </div>
                        </div>
                        <!-- end about-details -->
                      </div>
                    </div>
                    <!-- End Left services -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <!-- end col-md-4 -->
                      <div class=" about-move">
                        <div class="services-details">
                          <div class="single-services">
                            <a class="services-icon">
                              <i class="fas fa-database"></i>
                            </a>
                            <h4>Database</h4>
                            <p>
                                Database는 여러 사람이 공유하여 사용할 목적으로 체계화해 통합, 관리하는 데이터의 집합입니다.<br>여러가지 요구사항에 맞춰 Database를 설계해 볼 수 있습니다.
                            </p>
                          </div>
                        </div>
                        <!-- end about-details -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!-- End Service area -->

          <!-- Start Footer bottom Area -->
          <footer id="contact">
              <div class="footer-area-bottom">
                <div class="container">
                  <div class="row">
                    <hr style="height:1px; color:black; background-color:gray;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="copyright text-center">
                        <p>
                          Copyright &copy; 2019 <strong>컴퓨터공학과 at 박광영/김윤구</strong>, All rights reserved.
                        </p>
                      </div>
                      <div class="credits">
                        <p><span>Email: </span><a href="mailto:example@gmail.com">example@gmail.com</a> /
                          <span>Official Website: </span><a href="https://example.net">example.net</a>
                          <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                        -->
                          <br>
                          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>

            <a style="display:scroll;position:fixed;bottom:10px;right:10px;font-size:40px;color: orange;" 
              href="#"><i class="fas fa-caret-square-up"></i></a>

    <!-- loader -->
    <!-- JavaScript Libraries -->
    <script src='{% static "lib/jquery/jquery.min.js" %}'></script>
    <script src='{% static "lib/bootstrap/js/bootstrap.min.js" %}'></script>
    <script src='{% static "lib/owlcarousel/owl.carousel.min.js" %}'></script>
    <script src='{% static "lib/venobox/venobox.min.js" %}'></script>
    <script src='{% static "lib/knob/jquery.knob.js" %}'></script>
    <script src='{% static "lib/wow/wow.min.js" %}'></script>
    <script src='{% static "lib/parallax/parallax.js" %}'></script>
    <script src='{% static "lib/easing/easing.min.js" %}'></script>
    <script src='{% static "lib/nivo-slider/js/jquery.nivo.slider.js" %}' type="text/javascript"></script>
    <script src='{% static "lib/appear/jquery.appear.js" %}'></script>
    <script src='{% static "lib/isotope/isotope.pkgd.min.js" %}'></script>
    <!-- Contact Form JavaScript File -->
    <script src='{% static "contactform/contactform.js" %}'></script>
    <script src='{% static "js/main.js" %}'></script>
  </body>
</html>
